APP_NAME=Elysium API
APP_ENV=production
APP_HOST=0.0.0.0
APP_PORT=8000
FRONTEND_URL=https://elysium-dayz.site
API_BASE_URL=https://api.elysium-dayz.site
COOKIE_DOMAIN=.elysium-dayz.site
COOKIE_SECURE=true
COOKIE_SAMESITE=none
SESSION_SECRET=
DATA_ENCRYPTION_KEY=
DATABASE_URL=mysql://USER:PASSWORD@us.mysql.db.bot-hosting.net:3306/DBNAME

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://api.elysium-dayz.site/auth-callback

NITRADO_CLIENT_ID=
NITRADO_CLIENT_SECRET=
NITRADO_REDIRECT_URI=https://api.elysium-dayz.site/nitrado-callback

OWNER_DISCORD_ID=1176837882141474833
SUPER_ADMIN_IDS=1176837882141474833
