DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://elysium-dayz.site/api/auth-callback

SITE_URL=https://elysium-dayz.site
SESSION_SECRET=
DATABASE_URL=

OWNER_DISCORD_ID=1176837882141474833
SUPER_ADMIN_IDS=1176837882141474833

MEDIA_PROVIDER=
MEDIA_PUBLIC_BASE_URL=
MEDIA_BUCKET=
MEDIA_ACCESS_KEY=
MEDIA_SECRET_KEY=
MEDIA_REGION=
